<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydemo.dao.CityMapper">

    <resultMap id="city_map" type="com.mydemo.domain.City">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="cnName" column="cn_name" jdbcType="VARCHAR" />
        <result property="enName" column="en_name" jdbcType="VARCHAR" />
        <result property="countryCode" column="country_code" jdbcType="VARCHAR" />
        <result property="countryCodeMore" column="country_code_more" jdbcType="VARCHAR"/>
        <result property="cityType" column="city_type" jdbcType="VARCHAR" />
        <result property="remark" column="remark" jdbcType="VARCHAR" />
    </resultMap>

    <select id="getSelect2List" resultMap="city_map">
        select id,cn_name,en_name,country_code,country_code_more,city_type,remark from city where 1=1
        <if test="bo.search!=null and bo.search!=''">
            and upper(concat(ifnull(cn_name,''),ifnull(en_name,''),ifnull(country_code,''),ifnull(country_code_more,''),ifnull(remark,''))) like upper(concat('%',#{bo.search},'%'))
        </if>
        <if test="bo.cityType!=null">
            and city_type = #{bo.cityType}
        </if>
    </select>

    <select id="getCount" resultMap="Long">
        select count(id) from city where 1 = 1
        <if test="bo.cnName!=null and bo.cnName!=''">
            and upper(cn_name) = upper(concat('%',#{bo.cnName},'%'))
        </if>
        <if test="bo.enName!=null and bo.enName!=''">
            and upper(en_name) = upper(concat('%',#{bo.enName},'%'))
        </if>
        <if test="bo.cityType!=null">
            and city_type = #{bo.cityType}
        </if>
        <if test="bo.countryCode!=null and bo.countryCode!=''">
            and upper(country_code) = upper(concat('%',#{bo.countryCode},'%'))
        </if>
        <if test="bo.countryCodeMore!=null and bo.countryCodeMore!=''">
            and upper(country_code_more) = upper(concat('%',#{bo.countryCodeMore},'%'))
        </if>
        <if test="bo.remark!=null and bo.remark!=''">
            and upper(remark) = upper(concat('%',#{bo.remark},'%'))
        </if>
    </select>


    <select id="getList" resultMap="city_map">
        select id,cn_name,en_name,country_code,country_code_more,city_type,remark from city where 1 = 1
        <if test="bo.cnName!=null and bo.cnName!=''">
            and upper(cn_name) = upper(concat('%',#{bo.cnName},'%'))
        </if>
        <if test="bo.enName!=null and bo.enName!=''">
            and upper(en_name) = upper(concat('%',#{bo.enName},'%'))
        </if>
        <if test="bo.cityType!=null">
            and city_type = #{bo.cityType}
        </if>
        <if test="bo.countryCode!=null and bo.countryCode!=''">
            and upper(country_code) = upper(concat('%',#{bo.countryCode},'%'))
        </if>
        <if test="bo.countryCodeMore!=null and bo.countryCodeMore!=''">
            and upper(country_code_more) = upper(concat('%',#{bo.countryCodeMore},'%'))
        </if>
        <if test="bo.remark!=null and bo.remark!=''">
            and upper(remark) = upper(concat('%',#{bo.remark},'%'))
        </if>
        <if test="pager.sort!=null">
            order by m.${pager.sort} ${pager.order}
        </if>
    </select>

    <delete id="deleteByIds">
        delete from city where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>