<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mydemo.dao.ContactPersionMapper">

    <resultMap id="contact_persion_map" type="com.mydemo.domain.ContactPersion">
        <id property="contactPersionId" column="contact_persion_id" jdbcType="BIGINT"/>
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="sex" column="sex" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="DATE"/>
        <result property="updateTime" column="update_time" jdbcType="DATE"/>
        <result property="city" column="city" jdbcType="BIGINT"/>
        <result property="cardType" column="card_type" jdbcType="VARCHAR" />
        <result property="card" column="card" jdbcType="VARCHAR" />
        <result property="email" column="email" jdbcType="VARCHAR" />
        <result property="tel" column="tel" jdbcType="VARCHAR" />
        <result property="phone" column="phone" jdbcType="VARCHAR" />
        <result property="customerType" column="customer_type" jdbcType="VARCHAR" />
        <result property="address" column="address" jdbcType="VARCHAR" />
        <result property="zipcode" column="zip_code" jdbcType="VARCHAR" />
        <result property="userId" column="user_id" jdbcType="BIGINT" />
    </resultMap>

    <select id="getCount" resultType="Long">
        select count(contact_persion_id) from contact_persion u where 1=1
        <if test="bo.id!=null">
            and u.contact_persion_id = #{bo.contactPersionId}
        </if>
        <if test="bo.name!=null and bo.name!=''">
            and upper(u.name) like upper(concat('%',#{bo.name},'%'))
        </if>
        <if test="bo.customerType!=null">
            and u.customer_type = #{bo.customerType}
        </if>
        <if test="bo.userId!=null">
            and u.user_id = #{bo.userId}
        </if>
    </select>

    <select id="getList" resultMap="contact_persion_map">
        select * from contact_persion where 1=1
        <if test="bo.id!=null">
            and u.contact_persion_id = #{bo.contactPersionId}
        </if>
        <if test="bo.name!=null and bo.name!=''">
            and upper(u.name) like upper(concat('%',#{bo.name},'%'))
        </if>
        <if test="bo.customerType!=null">
            and u.customer_type = #{bo.customerType}
        </if>
        <if test="bo.userId!=null">
            and u.user_id = #{bo.userId}
        </if>
        <if test="pager.sort!=null">
            order by m.${pager.sort} ${pager.order}
        </if>
    </select>

    <delete id="deleteByIds">
        delete from contact_persion where contact_persion_id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>