<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.UserMapper">

    <resultMap id="user_map" type="com.domain.User">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userName" column="user_name" jdbcType="VARCHAR" />
        <result property="name" column="name" jdbcType="VARCHAR" />
        <result property="sex" column="sex" jdbcType="VARCHAR" />
        <result property="password" column="password" jdbcType="VARCHAR" />
        <result property="createTime" column="create_time" jdbcType="DATE"/>
        <result property="updateTime" column="update_time" jdbcType="DATE"/>
        <result property="city" column="city" jdbcType="BIGINT"/>
        <result property="cardType" column="card_type" jdbcType="VARCHAR" />
        <result property="card" column="card" jdbcType="VARCHAR" />
        <result property="email" column="email" jdbcType="VARCHAR" />
        <result property="tel" column="tel" jdbcType="VARCHAR" />
        <result property="customerType" column="customer_type" jdbcType="VARCHAR" />
        <result property="remark" column="remark" jdbcType="VARCHAR" />
    </resultMap>

    <resultMap id="user_list_map" type="com.domain.vo.UserVo" extends="user_map">
    </resultMap>

    <select id="getCount" resultType="Long">
        select count(id) from user u where 1=1
        <if test="bo.id!=null">
            and u.id = #{bo.id}
        </if>
        <if test="bo.userName!=null and bo.userName!=''">
            and upper(u.user_name) like upper(concat('%',#{bo.userName},'%'))
        </if>
        <if test="bo.name!=null and bo.name!=''">
            and upper(u.name) like upper(concat('%',#{bo.name},'%'))
        </if>
        <if test="bo.city!=null">
            and u.city = #{bo.city}
        </if>
    </select>

    <select id="getList" resultMap="user_list_map">
        select * from user where 1=1
        <if test="bo.id!=null">
            and u.id = #{bo.id}
        </if>
        <if test="bo.userName!=null and bo.userName!=''">
            and upper(u.user_name) like upper(concat('%',#{bo.userName},'%'))
        </if>
        <if test="bo.name!=null and bo.name!=''">
            and upper(u.name) like upper(concat('%',#{bo.name},'%'))
        </if>
        <if test="bo.city!=null">
            and u.city = #{bo.city}
        </if>
        <if test="pager.sort!=null">
            order by m.${pager.sort} ${pager.order}
        </if>
    </select>

    <delete id="deleteByIds">
        delete from user where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>

    <select id="getUser" resultMap="user_list_map">
        select * from user where user_name = #{username} and password = #{password}
    </select>
</mapper>